<%- include('header'); -%> <%- include('navbar'); -%>

<main class="container my-5">
  <button
    class="btn btn-primary btn-sm"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample"
  >
    Display filters
  </button>
  <%- include('filters'); -%>
  <div class="row" id="products">
    <% products.forEach(function(product) { %>
    <div class="col-md-4 my-2">
      <div class="card">
        <div class="card-img-top" style="position: relative">
          <img
            src="<%= product.image %>"
            style="
              width: 100%;
              height: auto;
              max-height: 200px;
              object-fit: cover;
              object-position: 60% center;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
            alt="<%= product.title %>"
          />
          <div style="position: absolute; bottom: 0; left: 0; padding: 8px">
            <% product.tags.forEach(function(tag) { %>
            <span class="badge bg-primary"><%=tag%></span>
            <% }); %>
          </div>
        </div>

        <div class="card-body">
          <a href="/product/<%= product.id %>" class="text-reset text-decoration-none">
            <small class="text-muted float-end"> <%= product.year %></small>
            <p class="card-text lead mb-0">$<%= product.price %></p>
            <h5 class="card-title"><%= product.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= product.author %></h6>
            <p class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
              <%= product.description %>
            </p>
          </a>

          <div class="d-grid mt-2">
            <button onclick="addToCart('<%= product.id %>', '<%= product.title %>')" class="btn btn-primary">
              ADD TO CART
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</main>

<script src="http://localhost:3000/scripts/addToCart.js" defer></script>
<script src="http://localhost:3000/scripts/fetchCart.js" defer></script>

<%- include('footer'); -%>
