<%- include('header'); -%> <%- include('navbar'); -%>

<main class="container my-5">
  <div class="container">
    <div class="row">
      <div class="col p-0" style="display: flex; flex-direction: column">
        <div style="display: inline-flex; justify-content: space-between">
          <h4 style="width: max-content"><%= product.title %></h4>
          <small class="text-muted" style="width: min-content"> <%= product.year %></small>
        </div>
        <p class="card-text lead">$<%= product.price %></p>
        <p><%= product.description %></p>
        <div class="d-grid" style="margin-top: auto">
          <button onclick="addToCart('<%= product.id %>')" class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
      <div class="col ml-5">
        <img
          src="<%= product.image %>"
          style="
            width: 100%;
            height: auto;
            max-height: 600px;
            object-fit: cover;
            object-position: 60% center;
            border-radius: 5px;
          "
          alt="<%= product.title %>"
        />
      </div>
    </div>
  </div>
</main>

<script src="http://localhost:3000/scripts/addToCart.js" defer></script>

<%- include('footer'); -%>
